<div class="container-fluid">
  <div class="">
    <div class="row">
      <div class="col-sm-7 reset-password-form">
                  <div class="text-center">
                  <hr><h3 class="full-width">Change Password</h3><hr>
                  <div class="container"><br>
                        <div class="row">
                          <div class="col-md-4">
                          <br><mat-label class="full-width">Current Password : </mat-label>
                          </div>
                          <div class="col-md-6 full-width">
                            <mat-form-field>
                              <input matInput placeholder="Enter Current Password" [type]="hide ? 'password' : 'text'">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <br><mat-label>New Password : </mat-label>
                          </div>
                          <div class="col-md-6 full-width">
                            <mat-form-field>
                              <input matInput placeholder="Enter New password" [type]="hide ? 'password' : 'text'">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <br><mat-label>Verify Password : </mat-label>
                          </div>
                          <div class="col-md-6 full-width">
                            <mat-form-field>
                              <input matInput placeholder="Enter Verify password" [type]="hide ? 'password' : 'text'">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>
                        </div>
                  </div>

                  </div>

      </div>
  </div>
</div>
