
<div class="feed-form top-padding">
  <form action="" method="post">

          <h2>Feedback</h2><hr>
          <h5>Hi there!<br>
              We'd love to hear more from our visitors.<br>
              Your feedback will help us to understand what we do well and what not.
          </h5>
          <br>
          <div class="form-group">
            <mat-icon>account_box</mat-icon>
              <input type="text" class="fed-control" placeholder="Username" required="required" width="20px">
          </div>

          <div class="form-group">
            <mat-icon>email</mat-icon>
              <input type="text" class="fed-control" placeholder="Email" required="required" width="20px">
          </div>

          <div class="form-group">
            <mat-icon>comment</mat-icon>
              <textarea class="comment-control" placeholder="Comment" required="required" width="20px"></textarea>
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Send</button>
          </div>
  </form>
</div>
