<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Product name</a></h4>
                                <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Product name</a></h4>
                                <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span>
                            </div>
                        </div></td>
                        <td class="col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                        <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                        <td class="col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->


<div class="container-fluid">
  <div class="page-header">
      <div class="row">
          <div class="col-lg-6">
              <div class="page-header-left">
                  <h3>ADD PRODUCTS<br>
                      <h6>Online Aution Portal</h6>
                  </h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row product-adding">
      <div class="col-xl-6">
          <div class="card">
              <div class="card-header">
                  <h5>General</h5>
              </div>
              <div class="card-body">
                  <div class="digital-add needs-validation">
                      <div class="form-group">
                          <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> ID</label>
                          <input class="form-control" id="validationCustom01" type="text" required="">
                      </div>
                      <div class="form-group">
                          <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Title </label>
                          <input class="form-control" id="validationCustomtitle" type="text" required="">
          </div>

      <!-- categories starts-->
                      <div class="form-group">
                          <label class="col-form-label"><span>*</span> Categories</label>
                          <select class="custom-select" required="">
                              <option value="">--Select--</option>
                              <option value="1">Touch screen</option>
                              <option value="2">key pad</option>
                              <option value="3">tablat</option>
                          </select>
          </div>
      <!-- categories ends-->

      <!-- textarea starts-->
          <div class="example-container">
            <label class="col-form-label"><span>*</span> Sort Summary </label><br>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
              </mat-form-field>
            </div>
      <!-- textarea ends-->

        <div class="form-group">
          <label for="validationCustom02" class="col-form-label"><span>*</span> Product Price</label>
          <input class="form-control" id="validationCustom02" type="text" required="">
        </div>

      <!-- radio starts-->
        <label class="col-form-label"><span>*</span> Status</label><br>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">  Option 1  </mat-radio-button>
          <mat-radio-button value="2">  Option 2  </mat-radio-button><br>
          </mat-radio-group>
      <!-- radio end-->

      <!-- File Upload-->
      <label class="col-form-label"><span>*</span>PRODUCT UPLOAD</label><br>
      <div class="file-upload-wrapper">
        <input type="file" id="input-file-now" class="file_upload" />
      <script>
        $('.file-upload').file_upload();
      </script>
      </div>
      <!-- File Upload ends-->


      <!-- datepicker-->

      <mat-form-field>
        <label class="col-form-label"><span>*</span> DATE </label><br>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <!-- datepicker-->
    </div>
  </div>
</div>
</div>


      <div class="col-xl-6">

        <div class="card">
          <div class="card-header">
            <h5>Meta Data</h5>
          </div>
          <div class="card-body">
            <div class="digital-add needs-validation">
              <div class="form-group">
                <label for="validationCustom05" class="col-form-label pt-0"><span>*</span> Meta Title</label>
                <input class="form-control" id="validationCustom05" type="text" required="">
              </div>
              <div class="example-container">
                <label class="col-form-label"><span>*</span> Meta Discription </label><br>
                <mat-form-field appearance="fill">
                  <mat-label>Textarea</mat-label>
                  <textarea matInput></textarea>
                  </mat-form-field>
                </div>
              <div class="form-group mb-0">
                <div class="product-buttons text-center">
                  <button type="button" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-light">Discard</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->

