<nav class="navbar navbar-light header-color unique-color-dark haeder-fix position-sticky position-fixed">
  <a class="navbar-brand" href="#">
    <h1 class="left-padding"> Online-Auction</h1>
  </a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
    <button type="button" class="btn btn-outline-success btn-rounded waves-effect my-2 my-sm-0"><i class="fas fa-search pr-2"
      aria-hidden="true"></i>Search</button>
    <!-- <button class="btn  " type="submit">Search</button> -->
  </form>

  <nav class="navbar-expand-sm navbar-dark header-color unique-color-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a href="#"><button mat-button class="header-font-color">
              <mat-icon matPrefix>home</mat-icon> Home <span class="sr-only">(current)</span>
            </button></a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color"> Auctions </button></a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a [routerLink]="['/post-product']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color"> Post Product </button></a>
        </li>
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="categories" class="header-font-color"> Categories </button>
          <mat-menu #categories="matMenu">
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Antique</button></a>
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Art</button></a>
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Books</button></a>
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Coins</button></a>
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Electronics</button></a>
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Painting</button></a>
            <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"><button
                mat-menu-item>Other</button></a>
          </mat-menu>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a [routerLink]="['/manage-product']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color"> Manage Product </button></a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a [routerLink]="['/profile']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color">Profile</button></a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a [routerLink]="['/cart']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color">Cart</button></a>
        </li>

        <li class="nav-item" *ngIf="!isUserLoggedIn">
          <a [routerLink]="['/login']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color"> Login </button></a>
        </li>

        <li class="nav-item" *ngIf="!isUserLoggedIn">
          <a [routerLink]="['/register']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color">Register</button></a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a [routerLink]="['/logout']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color"> Logout </button></a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/about-us']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color">About Us</button></a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/help']" routerLinkActive="router-link-active">
            <button mat-button class="header-font-color">
              <mat-icon matPrefix> help</mat-icon> Help
            </button></a>
        </li>

      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
  </nav>
</nav>

<!--

<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> LACODEID.COM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="#">Fruits</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sea food</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Vegetables</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->
