.header-color{
  background-color:#222;
  padding-top: 18px;
  padding-bottom: 0%;
  padding-left: 3%;
  padding-right: 3%;
}

h1 { font-family: Arial, sans-serif, Amaranth;
    font-size: 50px;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(255, 215, 155);
}
.color{
  background-color: rgb(46, 40, 83);
}

h3 { font-family: Amaranth;
     font-size: 14px;
     font-style: normal;
     font-variant: normal;
     font-weight: 700;
     line-height: 15.4px;
    }

    p { font-family: Amaranth;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;

     }

     blockquote { font-family: Amaranth;
        font-size: 21px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 30px;
    }

    pre { font-family: Amaranth;
         font-size: 13px;
         font-style: normal;
         font-variant: normal;
         font-weight: 400;
         line-height: 18.5714px;
        }
.header-font-color{
  color: rgb(255, 255, 255);
  font-size: larger;
}

.sub-menu-font-size{
  color: black;
  font-size: medium;
}
