<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#"><h1><b>Online Auction</b></h1></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." style="width: 500px;" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>


 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Auctions</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Live Action</a>
                    <a class="dropdown-item" href="#">Upcoming Action</a>
                    <a class="dropdown-item" href="#">Past Action</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active"  >Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/post-product']" routerLinkActive="router-link-active" >Post Product</a>
            </li>
            

        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>

<app-autocomplete></app-autocomplete>