
  
    <table height="40%">
        <tr>      
          <th width="60%">
            Select Product :
          </th>
          <td>
            <input type="file">
          </td><br><hr>
        </tr>
    
        <tr>
          <th>
            Give Your Item Title :
          </th>
          <td>
            <input type="text">        </td>
        </tr>
    
        <tr>
          <th><small>
            Upload pictures by clicking at right, <br>
            or by dragging picture(s) from your computer to this form.<br>
            Google Shopping has minimum image size requirements. <br>
            Apparel images must be at least 250x250 pixels, and<br>
            all other images must be at least 100x100 pixels.
            </small>
        </th>
        </tr>
    
        <tr>
            <th>
                Select starting date and time for auction :
            </th>
            <td>
              <input type="datetime-local">
            </td>
        </tr>

        <tr>
            <th>
                Enter base price of the product :
            </th>
            <td>
                <input type="text">
            </td>
        </tr>

        <tr>
            <th>
                Select Ending date and time for auction :
            </th>
            <td>
              <input type="datetime-local">
            </td>
        </tr>

      </table>
      <br>  
      <button>Submit</button>


      
  

