
<div class="container post-product-form">
  <form class="product-content">
    <div class="row">
        <div class="col-md-4">
            <div>Select Product : </div>
        </div>
        <div class="col-md-6">
            <input style="display: none"
                type="file" (change)="onFileChanged($event)"
                #fileInput multiple="multiple">
              <button mat-button (click)="fileInput.click()">Select File</button>
        </div>
    </div>
    <br>
        <div class="row">
          <label *ngFor="let url of urls" class="img-center"><img [src]="url" height="125" width="200">&nbsp;&nbsp;&nbsp;</label>
          <div class="row img-con-padding"><h6>You are {{noOfImg}} images selected</h6></div>
        </div>
        <br>
    <hr>
    <div class="row">
          <div class="col-md-4">
            Give Your Item Title :
          </div>
          <div class="col-md-6">
              <mat-form-field class="form-container">
                  <input matInput placeholder="Product Name" required="required">
                </mat-form-field>
          </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-md-4">
              Which Category of product ?
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Category" required="required">
                <mat-option value="arts">Arts</mat-option>
                <mat-option value="conies">Conies</mat-option>
                <mat-option value="books">Books</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-md-4">
            Select starting date for auction :
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="startDate" placeholder="Choose a date" required="required">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
              <time type="date-time"></time>
            </mat-form-field>
          </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-md-4">
            Select Ending date for auction :
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="endDate" placeholder="Choose a date" required="required">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-md-4">
            Enter base price of the product :
          </div>
          <div class="col-md-6">
            <mat-form-field>
               <input matInput placeholder="Amount" type="number" class="example-right-align" required="required">
               <span matPrefix>₹&nbsp;</span>
               <span matSuffix>.00</span>
            </mat-form-field>
          </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-md-4">
            Enter Starting auction product price :
          </div>
          <div class="col-md-6">
            <mat-form-field>
               <input matInput placeholder="Amount" type="number" class="example-right-align" required="required">
               <span matPrefix>₹&nbsp;</span>
               <span matSuffix>.00</span>
            </mat-form-field>
          </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <mat-button-toggle>Submit</mat-button-toggle>
      </div>
    </div>
  </form>
</div>
