<div class="top-padding">
<div class="signup-form">
    <form action="" method="post" (submit)="register()">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<mat-icon>account_circle</mat-icon>&nbsp;
				<input type="text" class="form-control" name="username" [ngModel]="username" placeholder="Username" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
        <mat-icon>email</mat-icon>&nbsp;
				<input type="email" class="form-control" name="email" [ngModel]="email" placeholder="Email Address" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
        <mat-icon matPrefix>lock</mat-icon> &nbsp;
          <input class="form-control" name="password" [ngModel]="password" placeholder="Password" required="required" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
            <mat-icon>lock</mat-icon> &nbsp;
            <input class="form-control" name="confirm_password" [ngModel]="confirm_password" placeholder="Confirm Password" required="required" [type]="chide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="chide = !chide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="chide">
              <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
			</div>
        </div>
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-drak btn-lg">Sign Up</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login here</a></div>
</div>
</div>
